Django>=1.5
django-appcore==0.0.3
django-appconf>=0.6
django-mptt==0.6.1
django-guardian==1.2.5
django-image-cropping==0.9.1
django-markitup==2.2.2
django-taggit==0.12.2
easy-thumbnails==2.2
PyYAML==3.11
Markdown==2.5.2


