{% load cache i18n %}
{% load pages_tags %}
<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
    <meta charset="UTF-8">
    <title>{{ page.meta.title }}</title>
    <meta name="description" content="{{ page.meta.description }}"/>
    <meta name="keywords" content="{{ psge.meta.keywords }}"/>
    <meta name="robots" content="{{ page.meta.robots }}"/>
</head>
<body>

{% cache page.timeout "pages" page.cache_key page.cache_version %}
    {% page_markdown_by_id 0 %}
{% endcache %}

</body>
</html>
